<div class="container" ng-controller="SWctrl" >
	<p>SLSIT provide a wide range of customized web services and cost-effective to companies in varied sectors and industries such as business, education, commerce, finance, environment, IT and telecommunications, fashion, music, Recreation, entertainment, travel and tourism, hospitality, etc. Our affordable web services are ideally suits both Government and private sector of small, medium and large size including corporate organizations and also start-up businesses and aspiring entrepreneurs.</p>


  <!-- Nav tabs -->
  	<ul class="nav nav-tabs" role="tablist" id="SWTab" role="tabpanel">
	    <li role="presentation" class="active"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">Development</a></li>
	    <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">E-Commerce</a></li>
	    <li role="presentation"><a href="#third" aria-controls="third" role="tab" data-toggle="tab">Web Apps</a></li>
  	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="first">
	    	<h4>E-Tune your Business with our Business Apps</h4>
	    	<p> Build your application around your Custom business requirements. At SLSIT, we help clients create advanced and functional web applications just the way their business desires it. Starting with strong requirement gathering, our business analysts can help you conceive your application to get it right the first time; followed by choosing the right web development technologies. There is strong emphasis on ensuring that the software is scalable and can be expanded as your business grows. Our business process management solutions help you increase the efficiency of your process.</p>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="second">
	    	<h4>E-Business Solutions</h4>
	    	<p>We have been involved in consulting, developing and implementing online E-business Solutions by giving them a fine edge over others using our experience. We have worked on various industry verticals ranging from E-commerce stores, Travel portals, Real estate, Matrimonial etc. and have successfully helped our clients establish their business online. Take a look on below mentioned web development solutions offered by SLSIT. There is strong emphasis on ensuring that the software is scalable and can be expanded as your business grows. Our business process management solutions help you increase the efficiency of your process</p>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="third">
	    	<h4>Business Application Development</h4>
	    	<p> Build your application around your Custom business requirements. At SLSIT, we help clients create advanced and functional web applications just the way their business desires it. Starting with strong requirement gathering, our business analysts can help you conceive your application to get it right the first time; followed by choosing the right web development technologies. There is strong emphasis on ensuring that the software is scalable and can be expanded as your business grows. Our business process management solutions help you increase the efficiency of your process.</p>
	    </div>
    </div>
    <!-- accordion -->

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	           <span class="pull left glyphicon glyphicon-plus"></span> Development Process Followed
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	        At SLSIT we understand that a strong web development process is the key to successful execution of any project. We have put in place a workflow which ensures execution of entire development process in a seamless manner.
	        <ul>
	        	<li>Requirement Gathering and defining the scope of work document.</li>
	        	<li>Providing you with the project Techno-commercials and signing off the porject.</li>
	        	<li>Entry of the project in the project management system.</li>
	        	<li>Clients can monitor the progress of the development as it happens.</li>
	        	<li>Clients can interact with the team to add value to the development.</li>
	        	<li>A dedicated GUI Team that ensures that the application is usable and appealing to the eyes.</li>
	        	<li>Testing team to ensure that the application is completely functional.</li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	         	<span class="pull left glyphicon glyphicon-plus"></span>  Our strengths as a development team
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	       	<ul>
	       		<li>Houses a pool of Web developers with over 5 years of experience.</li>
	       		<li>Project management system to keep all the aspects of development cycle in place to ensure timely delivery of projects.</li>
	       		<li>Strong communication on Email / Messenger (MSN Yahoo Skype) and Phone.</li>
	      </div>
	    </div>
	  </div>	  
	</div>
</div><!-- end container-->