<div class="container" ng-controller="aboutCtrl">
    <div id="themeCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
		<ol class="carousel-indicators">
		    <li data-target="#themeCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#themeCarousel" data-slide-to="1"></li>
		    <li data-target="#themeCarousel" data-slide-to="2"></li>
		</ol>				 
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
		    <div class="item active">
		      	<img src="images/slide1.jpg" alt="...">
		    </div>
		    <div class="item">
		      	<img src="images/slide2.jpg" alt="...">
		    </div>
		    <div class="item">
		      	<img src="images/slide3.jpg" alt="...">
		    </div>
		</div>				 
		<!-- Controls -->
		<a class="left carousel-control" href="#themeCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#themeCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- Carousel -->

	<div class="container container-fluid">
		<marquee class="scrollText" behavior="scroll" direction="left" scrollamount="10">Front end Developer Needed for MNC's | Calling all Software Engineers</marquee>
	</div><!-- end marque -->

	<div class="row" id="panels">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="panel panel-default">
			  	<div class="panel-heading text-center">Hardware & Networking</div>
			  	<div class="panel-body">
			    	<ul>
			    		<li>Desktop</li>
			    		<li>Laptop</li>
			    		<li>Servers</li>
			    		<li>Wi-Fi</li>
			    		<li>Networking</li>
			    	</ul>
			  	</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="panel panel-default">
			  	<div class="panel-heading text-center">Software & Web Development</div>
			  	<div class="panel-body">
			    	<ul>
			    		<li>Web Development</li>
			    		<li>web Designing</li>
			    		<li>Web Hosting</li>
			    		<li>Web Application</li>
			    		<li>Logo/Graphic Designing</li>
			    	</ul>
			  	</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="panel panel-default">
			  	<div class="panel-heading text-center">Placement Consultancy</div>
			  	<div class="panel-body">
			    	<ul>
			    		<li>HR Solutions</li>
			    		<li>Placement Service</li>
			    		<li>IT Outsourcing/li>
			    		<li>Non-IT Outsourcing</li>
			    		<li>BPO/Call Center</li>
			    	</ul>
			  	</div>
			</div>
		</div>
	</div><!-- end panels -->

	

	<div class="container top-buffer" id="captions" >
		<h4 class="text-center">“We believe that Recruitment is all about People and bringing together the finest of candidates and organization is what SLS Information Technologies all about”.</h4>
	</div>
	<div class="row top-buffer" id="aboutUs">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="WhoWeAre">
			<h1 class="text-center">Who we are</h1>
			<img src="images/whatwedo.jpg" class="image-rounded" alt="...">
	      	<h5 class="text-justify">SLS Information Technologies is a Professional Recruitment service Provider with an outstanding track record for its services in the IT, ITES, BPO/KPO & Telecom Sectors. Our key strategic goal is to provide our clients with an unexpected value service & accuracy in screening and delivering the right personnel to the right organization. 
			We are pleased to offer such aforesaid services to your esteemed organization and hope that you will take full advantage of our skill and experience in an extremely effective and price effective way.</h5>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="WhatWeDo">
			<h1 class="text-center">What we Do</h1>
	      	<img src="images/whatwedo.jpg" class="image-rounded" alt="...">
	      	<h5 class="text-justify">We at SLS Information Technologies not only maintain an exhaustive database of candidates but also conduct an in-depth evaluation of prospective candidates. Moreover we provide staffing solutions across various industrial segments in the Indian business houses and Multinational corporations.</h5>
		</div>
	</div><!-- end aboutus -->

	

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="vision">
		<h1 class="text-center">Vision</h1>
      	<h5 class="text-justify">To be a leading recruiting firm adopting world class practices, leveraging innovation and dynamism, to ensure the right person for the right job, provide career enrichment and ensure human capital development.</h5>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="mission">
		<h1 class="text-center">Mission</h1>
      	<h5 class="text-justify">To enforce our vision, the following shall be the foundation stones for our organization’s edifice:
  		<ul>
  			<li>Integrity – client integrity shall be paramount and shall not be compromised</li>
  			<li>Confidentiality – we ensure utmost deference to each client’s classified data entrusted to us</li>
  			<li>Long term partners in progress – we actively seek long term relationships with our clients, we do not prefer fly-by-night engagements</li>
  			<li>Assurance – every client and candidate is unique and deserves a customized business proposition</li>
  		</ul>
    </div><!--end mission -->


</div>